/*============================ article tabs starts ==========================*/
@media (max-width: 600px) {
    .row a img{
        padding-bottom: 5px;
    }

}
#news h4{
    border-bottom: solid 3px #ff9969;
    color: #ff9969;
    padding: 10px;
    font-size: 20px;
}
#news header{
    color: #0277bd;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}
#news small{
    font-size: 14px;
    margin-left: 10px;
    color: black;
}
#news small a{
    color: #ff9969;
    font-size: 15px;
    margin-left: 10px;
    margin-top: auto;
}
#news p{
    padding-left: 10px;
    maragin: 15px;
    font-size: 16px;
}
#news p a{
    color: #ff9969;
    font-size: 15px;
    font-weight: 500;
}
#news a.btn{
    margin-top: -7px;
    height: 35px;
    box-shadow: none;
    background: teal;
}
#news a.btn:hover{
    background: teal;
}
#link.row a.right{
    margin-top: 10px;
    font-size: 16px;
    color: #ff9969;

}
@media (min-width: 320px) and (max-width: 440px){
    #news a.btn{
        margin-top: -5px;
        height: 35px;
        box-shadow: none;
        background: teal;
        font-size: 11px;
        width: 137px;
    }
}
#ads a img.responsive-img{
    margin-top: 1.21rem;
    margin-left: auto;
    margin-right: auto;
}